# Project specific
build
cmake-build-*
.idea

# Directories and files
*.lp
# dir with test data (local)
NJ/*
data/*
grids/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
districting
ralg_hot_start
translate

# Custom
gerry_assign
*.lp
*.out
